<app-nabvar></app-nabvar>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                <h4 class="card-title">Edit User</h4>
            </div>
            <div class="card-body">
                <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
                    Id: <input name="id" type="number" ngModel required #first="ngModel">
                    Name: <input name="username" ngModel>
                    Password: <input name="password" ngModel>
                    <button>Send Edit</button>
                </form>
            </div>
        </div>
    </div>
</div>



       