<div class="input-group">
  <input id="username" name="username"  [(ngModel)]="username" type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
  <button (click)="getPantera()" type="button" class="btn btn-outline-primary">search</button>
</div>
<div>
  <table>
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pantera of panteras">
        <td>{{pantera.id}}</td>
        <td>{{pantera.username}}</td>
        <td><button id="button_delate" (click)="buttonClick_eliminar(pantera)">Delete</button></td>
        <td><button id="button_edit" (click)="buttonClick_edit()">Edit</button></td>
      </tr>
    </tbody>
</table>
</div>